<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.synu.mapper.CommentMapper">

    <sql id="Base_Column_List">
        id,article_id,
        comment_content,uid
    </sql>



    <!--查询所有评论-->
    <select id="getCommentAll" resultType="com.example.synu.pojo.Comment">
        SELECT articles.article_id, comment.comment_content,user.user_id as uid,user.user_nick_name
        FROM comment
                 INNER JOIN articles ON comment.article_id = articles.article_id
                 INNER JOIN user ON comment.uid = user.user_id;
    </select>

    <!--查询这篇文章所有的评论-->
    <select id="getThisComments" resultType="com.example.synu.pojo.Comment">
        SELECT id,articles.article_id, comment.comment_content,user.user_id as uid,user.user_nick_name
        FROM comment
                 INNER JOIN articles ON comment.article_id = articles.article_id
                 INNER JOIN user ON comment.uid = user.user_id
        WHERE comment.article_id = #{id};
    </select>

    <!--发布一条评论-->
    <insert id="addComment" parameterType="com.example.synu.pojo.Comment">
        insert into comment(article_id,comment_content,uid) values(#{id},#{commentContent},#{uid})
    </insert>
    <update id="CommentCountAdd">
        UPDATE articles SET view_count = view_count + 1 WHERE article_id = #{articleId};
    </update>

    <!--删除这条评论-->
    <delete id="deleteComment" parameterType="com.example.synu.pojo.Comment">
        delete from comment
        where id = #{id}
    </delete>
    <update id="CommentCountSub">
        UPDATE articles SET view_count = view_count - 1 WHERE article_id = #{articleId};
    </update>

    <!--查询评论的文章-->
    <select id="getCommentArticles" resultType="com.example.synu.pojo.Articles">
        SELECT
            article_id,a.user_id as user_id,article_title,article_content,article_create_time,article_last_update_time,
            like_count,view_count,user_nick_name
        FROM
            articles a
                INNER JOIN
            user u ON a.user_id = u.user_id
        WHERE a.del_flag = 0 AND a.article_id IN (
            SELECT article_id
            FROM comment
            WHERE uid = #{id}
            ORDER BY article_last_update_time DESC
        )

    </select>


    <!--修改这条评论-->
    <update id="updateComment">
        update comment
        set comment_content = #{commentContent}
        where article_id = #{id} and uid = #{uid}
    </update>


</mapper>
