<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.synu.mapper.PictureMapper">

    <sql id="Base_Column_List">
        id,pictureUrl,pictureName
    </sql>
    <insert id="PictureInsert">
        insert into picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                article_id,
            </if>
            <if test="pictureName != null">
                pictureName,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                #{articleId},
            </if>
            <if test="pictureName != null">
                #{pictureName},
            </if>
        </trim>
    </insert>


</mapper>